<phpunit>
    <filter>
        <whitelist>
            <directory>/www/oxid473.dev/modules/oxtiramizoo</directory>
        </whitelist>
    </filter>
<logging>
    <log type="coverage-html" target="./report"
         charset="UTF-8" yui="true" hightlight="true"
         lowupperbound="50" highlowerbound="80"></log>
</logging>
</phpunit>

